*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/53868571-.jpg); */
    background-size: cover;
    background-position: center;
}
.container{
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    font-size: 30px;
    font-weight: 70;
    color: #fff;
    letter-spacing: 2px;
    font-family: Georgia, "Times New Roman", serif;
  letter-spacing: 2px; 
}nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: 0.3s;
    font-family: Georgia, serif;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: #ff0000;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    color: #ff0000;
    text-shadow: none;   
}

nav ul li a.active::after {
    width: 100%;
}

.header-text{
    margin-top: 150px;
    font-size: 20px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 100px;
}

.hero-text {
    max-width: 45%;
}

.hero-text h1 span {
    /* font-family: Georgia, serif; */
    font-size: 40px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 40px;
}

.hero-text p {
    font-size: 20px;
    line-height: 1.6;
    color: #ff0000;
    margin-bottom: 40px;
    max-width: 85%;
}

.btn {
    padding: 15px 35px;
    background: #000;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    transition: 0.3s;
}

.btn:hover {
    background: #ff0101;
}

.hero-img img {
    width: 550px;
    height: 560px;
    object-fit: cover;
}